<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard | Create</title>
    <link
      rel="shortcut icon"
      href="../public/images/icon.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <h3>Create Data Customer</h3>
    <form action="/customers/admin/create" method="post">
      <label for="email">Email</label>
      <input type="email" name="email" id="Masukkan Email" />
      <br />
      <br />
      <label for="password">Password</label>
      <input type="password" name="password" id="Masukkan Password" />
      <br />
      <br />
      <button>tambah Data</button>
    </form>
  </body>
</html>
