<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard | Update</title>
    <link
      rel="shortcut icon"
      href="../public/images/icon.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <h3>Update Existing Data Customer</h3>
    <form action="/customers/admin/update/<%= customer.id %>" method="post">
      <label for="email">Email</label>
      <input type="email" name="email" id="Masukkan Email" value="<%= customer.email%>"/>
      <br />
      <br />

      <button>Update Data</button>
  </body>
</html>
